{% load staticfiles %}
<link rel="stylesheet" href="{% static 'recruit/css/bootstrap.min.css' %}" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h3>{{recruit.name}}</h3>
<h4>{{recruit.student_id}}</h4>
<h4>{{recruit.contact_no}}</h4>
<h4>{{recruit.skills}}</h4>
<br>
<table style="width: 80%; border: 1px solid black;">
<tr>
<th style="border: 1px solid black;">Grilled by</th>
<th style="border: 1px solid black;">Remarks</th>
<th style="border: 1px solid black;">Task</th>
<th style="border: 1px solid black;">Task Done</th>
</tr>
{% for member in recruit.member_set.all %}
<tr>
<td style="border: 1px solid black; text-align:center">{{member.grilled_by}}</td>
<td style="border: 1px solid black;">{{member.remarks}}</td>
<td style="border: 1px solid black;">{{member.task}}</td>
<td style="border: 1px solid black;">{{member.task_status}}</td>
</tr>
{%endfor%}
</table>