{% load staticfiles %}
<link rel="stylesheet" href="{% static 'recruit/css/bootstrap.min.css' %}" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>BITS ACM Recruitment App</h2>


{% if recruit_list %}
<ol>
    {%for recruit in recruit_list%}
    {%for member in recruit.member_set.all%}
        {%if member.task_status%}
    <li><a href="{% url 'recruit:detail' recruit.id%}">{{recruit.name}}</a></li>
    {%endif%}
    {%endfor%}
    {%endfor%}
</ol>
{%else%}
<p>No recruits are added yet!</p>
{%endif%}
<row>
 <form action="/recruit/records/">  
 <input type="submit" value="View All Recruits" style="width: 150px;"/>  
 </form>
<form action="/recruit/exist/">
    <input type="submit" value="Existing Recruit" style="width: 150px;"/>
</form>
</row>
